<div class="row">
	<div class="col-sm-8">
		<%= f.input :title, placeholder: "Assessment Title" %>
	</div>
	<div class="col-sm-4">
		<%= f.input :due_date, placeholder: "Due Date", as: :date_picker %>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<%= f.input :description, placeholder: "Assessment Description" %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<%= f.input :weightage, placeholder: "Weightage", as: :string %>
	</div>
	<div class="col-sm-4">
		<%= f.input :maximum_marks, placeholder: "Maximum Marks", as: :string %>
	</div>
	<div class="col-sm-4">
		<%= f.input :strategy, collection: [["Cumulative", "cumulative"], ["Best", "best"], ["Best Of", "best_of_n"], ["Average", "mean"]] %>
	</div>
</div>