<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li> <%= link_to 'Dashboard', dashboards_path %> </li>
	  <li class="active">Editing <%= @assessment.title %></li>
	</ol>
<% end %>

<div class="row">
	<div class="col-sm-8">
		<%= simple_form_for(@assessment) do |f| %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Editing <%= @assessment.title %>
					</h3>
				</div>

				<div class="panel-body">
					<%= render "form", f: f %>
				</div>
				<div class="panel-footer">
					<%= f.button :submit %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-sm-4"></div>
</div>