<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li> <%= link_to 'Dashboard', dashboards_path %> </li>
	  <li class="active"><%= @assessment.title %></li>
	</ol>
<% end %>

<div class="row">
	<div class="col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<%= @assessment.title %>
					</h3>
				</div>

				<div class="panel-body">

				</div>
				<div class="panel-footer">
				</div>
			</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%= @assessment.title %></h3>
			</div>

			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Description</dt>
					<dd><%= @assessment.description %></dd>

					<dt>Due Date</dt>
					<dd><%= @assessment.due_date.to_formatted_s(:rfc822) %></dd>

					<dt>Weightage</dt>
					<dd><%= @assessment.weightage %></dd>
					<dt>Maximum Marks</dt>
					<dd><%= @assessment.maximum_marks %></dd>
					<dt>Strategy</dt>
					<dd><%= @assessment.strategy.humanize %></dd>
				</dl>				
			</div>

			<div class="panel-footer">
				<%= link_to 'Edit', edit_assessment_path(@assessment) %>
			</div>
		</div>
	</div>
</div>