<div class="row">
	<div class="col-sm-8">
		<%= f.input :title, placeholder: 'Subject Title' %>
	</div>
	<div class="col-sm-4">
		<%= f.input :code, placeholder: 'Subject Code' %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<%= f.input :teaching_hours, placeholder: 'Teaching Hours', as: :string %>
	</div>
	<div class="col-sm-4">
		<%= f.input :weightage, placeholder: 'Weightage', as: :string %>
	</div>
	<div class="col-sm-4">
		<%= f.input :grade_points, placeholder: 'Grade Points', as: :string %>
	</div>
</div>