<div class="row">
	<div class="col-sm-8">
		<%= f.text_field :title, placeholder: 'Subject Title', control_col: "col-sm-12", label_col: "", hide_label: true %>
	</div>
	<div class="col-sm-4">
		<%= f.text_field :code, placeholder: 'Subject Code', control_col: "col-sm-12", label_col: "", hide_label: true %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<%= f.text_field :teaching_hours, placeholder: 'Teaching Hours', control_col: "col-sm-12", label_col: "", hide_label: true %>
	</div>
	<div class="col-sm-4">
		<%= f.text_field :weightage, placeholder: 'Weightage', control_col: "col-sm-12", label_col: "", hide_label: true %>
	</div>
	<div class="col-sm-4">
		<%= f.text_field :grade_points, placeholder: 'Grade Points', control_col: "col-sm-12", label_col: "", hide_label: true %>
	</div>
</div>