<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li><%= link_to 'Settings', dashboards_path %></li>
	  <li class="active">Students</li>
	</ol>
<% end %>

<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Students Info</h3>
			</div>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Admission #</th>
						<th>Date of Admission</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>

				<% if @students.blank? %>
					<tr>
						<td colspan="4">Please select a course session from right.</td>
					</tr>
				<% end %>

				<% @students.each_with_index do |student, index| %>
					<tr>
						<td> <%= index +1 %> </td>
						<td> <%= link_to student.name, student_path(student) %> </td>
						<td> <%= student.admission_number %> </td>
						<td> <%= student.date_of_admission %> </td>
						<td> <%= link_to 'Something', new_teacher_path %> </td>
					</tr>
				<% end %>

				</tbody>
			</table>
			<div class="panel-footer"></div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Active Sessions</h3>
			</div>
			<ul class="list-group">
				<% @course_sessions.each do |session| %>
					<li class="list-group-item">
						<span class="badge"><%= session.students.length %></span>
						<%= link_to session.name, students_path(session_id: session.id) %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>