<div class="row">
	<%= f.hidden_field :institute_id %>
	<div class="col-sm-6">
		<%= f.input :title, placeholder: 'Term Title' %>
	</div>

	<div class="col-sm-6">
		<%= f.input :code, placeholder: 'Term Code' %>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
	<%= f.input :term_type, collection: [["Year", "year"], ["Semester", "semester"]], include_blank: false %>
	</div>

	<div class="col-sm-6">
	<%= f.input :term_class, collection: 0..12, include_blank: false %>
	</div>
</div>