<div class="row">
	<div class="col-sm-8">
		<%= f.input :name, placeholder: 'Session Name' %>
	</div>

	<div class="col-sm-4">
		<%= f.input :admissions_open, collection: [["Yes", "yes"], ["No", "no"]], include_blank: false %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<%= f.input :start_date, placeholder: 'Session Start Date', as: :string, input_html: { data: { provide: 'datepicker' }, value: format_date(f.object.start_date) } %>
	</div>

	<div class="col-sm-4">
		<%= f.input :end_date, placeholder: 'Session End Date', as: :string, input_html: { data: { provide: 'datepicker' }, value: format_date(f.object.end_date) } %>
	</div>

	<div class="col-sm-4">
		<%= f.association :current_term, collection: @course_session.course.academic_terms, prompt: "Select current term" %>
	</div>
</div>

<%= f.fields_for :class_groups do |cgf| %>
	<div class="row">
		<div class="col-sm-12">
			<div class="well well-sm"><%= "Class Group# #{cgf.index+1}" %></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<%= render "class_groups/form", f: cgf %>
			<%= cgf.hidden_field :institute_id %>
			<%= cgf.hidden_field :course_session_id %>
		</div>
	</div>
<% end %>