<div class="row">
	<div class="col-sm-6">
		<%= f.text_field :name, placeholder: 'Session Name', control_col: "col-sm-12", hide_label: true %>
	</div>

	<div class="col-sm-6">
		<%= f.form_group :admissions_open, label: { text: "Admissions" }, label_col: "col-sm-6", control_col: "col-sm-6" do %>
		  <%= f.radio_button :admissions_open, "true", label: "Open", inline: true %>
		  <%= f.radio_button :admissions_open, "false", label: "Closed", inline: true %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<%= f.date_field :start_date, placeholder: 'Session Start Date', control_col: "col-sm-12", hide_label: true, icon: "calendar", data: { provide: 'datepicker' } %>
	</div>

	<div class="col-sm-6">
		<%= f.date_field :end_date, placeholder: 'Session End Date', control_col: "col-sm-12", hide_label: true, icon: "calendar", data: { provide: 'datepicker' } %>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<%#= f.number_field :terms, placeholder: 'Total Terms', control_col: "col-sm-12", hide_label: true %>
	</div>

	<div class="col-sm-6">
		<%= f.select :current_term_id, options_from_collection_for_select(@course_session.course.academic_terms, "id", "title"), prompt: "Select current term" ,control_col: "col-sm-12", hide_label: true %>
	</div>
</div>

<%= f.fields_for :class_groups do |cgf| %>
	<div class="row">
		<div class="col-sm-12">
			<div class="well well-sm"><%= "Class Group# #{cgf.index+1}" %></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<%= render "class_groups/form", f: cgf %>
			<%= cgf.hidden_field :institute_id %>
			<%= cgf.hidden_field :course_session_id %>
		</div>
	</div>
<% end %>