<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li><%= link_to 'Settings', dashboards_path %></li>
	  <li><%= link_to 'Courses', courses_path %></li>
	  <li class="active"><%= @course_session.name %></li>
	</ol>
<% end %>

<div class="row">
	<div class="col-sm-8">
		<%= simple_form_for(@course_session) do |f| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Editing <%= @course_session.name %></h3>
			</div>
				<div class="panel-body">
					<%= render "form", f: f %>
				</div>

				<div class="panel-footer">
					<%= f.button :submit, 'Update Session' %>
				</div>
			</div>
		<% end %>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">Some Info</div>
			<div class="panel-body"></div>
		</div>
	</div>
</div>