<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li><%= link_to 'Settings', dashboards_path %></li>
	  <li><%= link_to 'Courses', courses_path %></li>
	  <li> <%= link_to @course_session.course.name, course_path(@course_session.course) %> </li>
	  <li class="active"> <%= @course_session.name %> </li>
	</ol>
<% end %>

<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				About <%= @course_session.name %>
				<span class="pull-right">
					<%= link_to "Edit", edit_course_session_path(@course_session) %>
				</span>
			</div>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Admission #</th>
						<th>Date of Admission</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>

				<% if @students.blank? %>
					<tr>
						<td colspan="4">There seems to be no one attending this session.</td>
					</tr>
				<% end %>

				<% @students.each_with_index do |student, index| %>
					<tr>
						<td> <%= index +1 %> </td>
						<td> <%= link_to student.name, student_path(student) %> </td>
						<td> <%= student.admission_number %> </td>
						<td> <%= student.date_of_admission %> </td>
						<td> <%= link_to 'Something', new_teacher_path %> </td>
					</tr>
				<% end %>

				</tbody>
			</table>
			<div class="panel-footer">
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Class Groups
				<span class="pull-right">
					<%#= link_to 'Students => Class Groups', assign_group_course_session_path(@course_session) %>
				</span>
			</div>
			<div class="panel-body">
				<% @course_session.class_groups.each do |group| %>
					<%= link_to group do %>
						<span class="primary-label"><%= group.name %></span>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>