<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li> <%= link_to 'Settings', dashboards_path %> </li>
	  <li> <%= link_to 'Courses', courses_path %> </li>
	  <li><%= link_to @course_session.course.name, @course_session.course %></li>
	  <li><%= link_to @course_session.name, @course_session %></li>
	  <li class="active"><%= @class_group.name %></li>
	</ol>
<% end %>

<div class="row">
	<div class="col-md-8">
		<%= bootstrap_form_for(@class_group) do |f| %>
			<div class="panel panel-default">
			  <div class="panel-heading">
			  	<h3 class="panel-title"> Editing <%= @class_group.name %> </h3>
	  		</div>

	  		<div class="panel-body">
	  			<%= render "course_sessions/class_group", f: f %>
	  		</div>

				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Sl#</th>
							<th>Add</th>
							<th>Student Name</th>
							<th>Admission #</th>
							<th>Date of Admission</th>
							<th>Date of Birth</th>
							<th>Gender</th>
						</tr>
					</thead>

					<tbody>
						 <%= console %>
						 <%= hidden_field_tag "class_group[student_ids][]", nil %>
						<% @students.each_with_index do |student, index| %>
							<tr>
								<td><%= index + 1 %></td>
								<td>
									<%= check_box_tag "class_group[student_ids][]", student.id, @class_group.student_ids.include?(student.id), { id: "student-#{index}" } %>
								</td>
								<td><%= student.name %></td>
								<td><%= student.admission_number %></td>
								<td><%= student.date_of_admission.to_formatted_s(:rfc822) %></td>
								<td><%= student.date_of_birth.to_formatted_s(:rfc822) %></td>
								<td><%= student.gender.humanize %></td>
							</tr>
						<% end %>
					</tbody>
				</table>

				<div class="panel-footer">
					<%= f.submit "Update Class Group" %>
				</div>
			</div>
		<% end %>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Last Session - Summary</h3>
			</div>

			<div class="panel-body">
				Some help text
			</div>
		</div>
	</div>
</div>
