<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li> <%= link_to 'Settings', dashboards_path %> </li>
	  <li> <%= link_to 'Courses', courses_path %> </li>
	  <li><%= link_to @course_session.course.name, @course_session.course %></li>
	  <li><%= link_to @course_session.name, @course_session %></li>
	  <li class="active">New Class Group</li>
	</ol>
<% end %>

<div class="row">
	<div class="col-md-8">
		<%= simple_form_for([@course_session, @class_group]) do |f| %>
			<div class="panel panel-default">
			  <div class="panel-heading">
			  	<h3 class="panel-title"> New Class Group in <%= @course_session.name %> </h3>
	  		</div>


	  		<div class="panel-body">
	  			<%= render "form", f: f %>
	  		</div>

	  		<div class="panel-heading">Subject Allottment</div>
	  		<div class="panel-body">
	  			<%= f.fields_for :tutorials do |taf| %>
		  			<%= render "tutorials/form", f: taf %>
		  		<% end %>
	  		</div>
	  		
	  		<div class="panel-heading">
	  			Students in the group
	  		</div>

				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Sl#</th>
							<th>Add</th>
							<th>Student Name</th>
							<th>Admission #</th>
							<th>Date of Admission</th>
							<th>Date of Birth</th>
							<th>Gender</th>
						</tr>
					</thead>

					<tbody>
						<% @course_session.students.each_with_index do |student, index| %>
							<tr>
								<td><%= index + 1 %></td>
								<td>
									<%= check_box_tag "class_group[student_ids][]", student.id, @class_group.student_ids.include?(student.id), { id: "student-#{index}" } %>
								</td>
								<td><%= student.name %></td>
								<td><%= student.admission_number %></td>
								<td><%= student.date_of_admission %></td>
								<td><%= l(student.date_of_birth) %></td>
								<td><%= student.gender.humanize %></td>
							</tr>
						<% end %>
					</tbody>
				</table>

				<div class="panel-footer">
					<%= f.submit "Add Class Group" %>
				</div>
			</div>
		<% end %>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Last Session - Summary</h3>
			</div>

			<div class="panel-body">
				Some help text
			</div>
		</div>
	</div>
</div>
