<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li> <%= link_to 'Dashboard', dashboards_path %> </li>
	  <li> <%= link_to 'Teachers', teachers_path %> </li>
	  <li class="active">Editing <%= @teacher.name %></li>
	</ol>
<% end %>

<div class="row">
  <div class="col-sm-8">
    <%= simple_form_for(@teacher, url: teacher_path(@teacher), as: :teacher) do |f| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New Teacher</h3>
        </div>
        <div class="panel-body">
        	<%= render "form", f: f %>
        </div>

        <div class="panel-footer">
          <%= f.button :submit, "Update Teacher" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Remarks</h3>
      </div>
      <div class="panel-body"></div>
    </div>
  </div>
</div>
