<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li> <%= link_to 'Settings', dashboards_path %> </li>
	  <li> <%= link_to 'Teachers', teachers_path %> </li>
	  <li class="active"> <%= @teacher.name %> </li>
	</ol>
<% end %>

<div class="row">
	<div class="col-sm-8">
		<div class="default-panel">
			<div class="panel-heading">
				<h3 class="panel-title">About <%= @teacher.name %></h3>
			</div>

			<div class="panel-body">
				TODO
			</div>

			<table class="table table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Subject</th>
						<th>Class Group</th>
						<th>Course Session</th>
					</tr>
				</thead>

				<tbody>
					<% @course_subjects.uniq.each_with_index do |subject, index| %>
						<tr>
							<td><%= index + 1 %></td>
							<td><%= subject.title %></td>
							<td><%= subject.class_groups.last.name %></td>
							<td><%= subject.class_groups.last.course_session.name %></td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<div class="panel-footer"></div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="default-panel">
			<div class="panel-heading">Some Info</div>
			<div class="panel-body">Info</div>
		</div>
	</div>
</div>