<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li> <%= link_to 'Settings', dashboards_path %> </li>
	  <li class="active">Teachers</li>
	</ol>
<% end %>

<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Teachers</h3>
			</div>

			<table class="table table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Employee #</th>
						<th>Date of Joining</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>

				<% @teachers.each_with_index do |teacher, index| %>
					<tr>
						<td> <%= index +1 %> </td>
						<td> <%= link_to teacher.name, teacher_path(teacher) %> </td>
						<td> <%= teacher.employee_number %> </td>
						<td> <%= teacher.date_of_joining %> </td>
						<td> <%= link_to 'Apply for leave', new_teacher_path %> </td>
					</tr>
				<% end %>

				</tbody>
			</table>

			<div class="panel-footer">
				<% if policy(Teacher).new? %>
					<%= link_to "New Teacher", new_teacher_path %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		Sidebar
	</div>
</div>