<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li> <%= link_to 'Settings', dashboards_path %> </li>
	  <li> <%= link_to 'Courses', courses_path %> </li>
	  <li class="active">New Course</li>
	</ol>
<% end %>

<div class="row">
	<div class="col-md-8">
  	<%= bootstrap_form_for(@course, layout: :horizontal) do |f| %>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Add a new course</h3>
			  </div>
			  <div class="panel-body">
			  		<%= f.text_field :name, placeholder: 'New Course Name' %>
			  		<%= f.text_field :abbreviation, placeholder: 'Course Abbreviation' %>

			  		<%= f.fields_for :course_sessions do |sf| %>
				  		<div class="panel panel-default">
				  			<div class="panel-heading">
				  				<h5 class="panel-title">New Course Session</h5>
				  			</div>
				  			<div class="panel-body">
						  			<%= sf.hidden_field :institute_id %>
						  			<%= sf.text_field :name, placeholder: 'Session Name' %>
						  			<%= sf.date_field :start_date, placeholder: 'Session Start Date' %>
						  			<%= sf.date_field :end_date, placeholder: 'Session End Date' %>
						  			<%= sf.number_field :terms, placeholder: 'Total Terms' %>
						  			<%= sf.number_field :current_term, placeholder: 'Current Term' %>
				  			</div>
				  		</div>
			  		<% end %>

			  </div>
			  <div class="panel-footer">
			  	<%= f.submit 'Add Course' %>
			  </div>
			</div>
	  	<% end %>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Some title</h3>
			</div>

			<div class="panel-body">
				Some help text
			</div>
		</div>
	</div>
</div>
