<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li> <%= link_to 'Settings', dashboards_path %> </li>
	  <li> <%= link_to 'Courses', courses_path %> </li>
	  <li class="active">New Course</li>
	</ol>
<% end %>

<div class="row">
	<div class="col-md-8">
  	<%= bootstrap_form_for(@course, layout: :horizontal) do |f| %>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Add a new course</h3>
			  </div>
			  <div class="panel-body">
	  			<div class="row">
	  				<div class="col-sm-8">
				  		<%= f.text_field :name, placeholder: 'New Course Name', control_col: "col-sm-12", hide_label: true %>
	  				</div>

	  				<div class="col-sm-4">
				  		<%= f.text_field :abbreviation, placeholder: 'Course Abbreviation', control_col: "col-sm-12", hide_label: true %>
	  				</div>
	  			</div>

		  		<%= f.fields_for :course_sessions do |sf| %>
			  		<div class="row">
			  			<div class="col-sm-12">
			  				<div class="well well-sm">Course Session #<%= sf.index + 1 %></div>
			  			</div>
			  		</div>
		  			<div class="row">
		  				<div class="col-sm-12">
			  				<%= render "course_sessions", f: sf %>
		  				</div>
		  			</div>
		  		<% end %>

			  </div>
			  <div class="panel-footer">
			  	<%= f.submit 'Add Course' %>
			  </div>
			</div>
	  	<% end %>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Some title</h3>
			</div>

			<div class="panel-body">
				Some help text
			</div>
		</div>
	</div>
</div>
