<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li> <%= link_to 'Settings', dashboards_path %> </li>
	  <li> <%= link_to 'Courses', courses_path %> </li>
	  <li class="active">New Course</li>
	</ol>
<% end %>

<div class="row">
	<div class="col-md-8">
  	<%= simple_form_for(@course, layout: :horizontal) do |f| %>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Add New Course</h3>
			  </div>
			  <div class="panel-body">
	  			<div class="row">
	  				<div class="col-sm-8">
				  		<%= f.input :name, placeholder: 'New Course Name' %>
	  				</div>

	  				<div class="col-sm-4">
				  		<%= f.input :abbreviation, placeholder: 'Course Abbreviation' %>
	  				</div>
	  			</div>

		  		<%= f.fields_for :academic_terms do |tf| %>
			  		<div class="row">
			  			<div class="col-sm-12">
			  				<div class="well well-sm">Term #<%= tf.index + 1 %></div>
			  			</div>
			  		</div>
		  			<div class="row" id="term-<%= tf.index+1 %>">
		  				<div class="col-sm-12">
			  				<%= render "academic_terms/form", f: tf %>
		  				</div>
		  			</div>
		  		<% end %>

			  </div>
			  <div class="panel-footer">
			  	<%= f.button :submit, 'Add Course' %>
			  </div>
			</div>
	  	<% end %>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Some title</h3>
			</div>

			<div class="panel-body">
				Some help text
			</div>
		</div>
	</div>
</div>
