<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li> <%= link_to 'Settings', dashboards_path %> </li>
	  <li> <%= link_to 'Courses', courses_path %> </li>
	  <li class="active"><%= @course.name %></li>
	</ol>
<% end %>

<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<h3 class="panel-title">
		  		<%= @course.name %> (<%= @course.abbreviation %>)
	  		</h3>
  		</div>

			<div class="panel-heading">Course Sessions</div>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Session Name</th>
						<th>Current Term</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Action</th>
						<th>Class Groups</th>
					</tr>
				</thead>

				<tbody>
					<% @course.course_sessions.each_with_index do |session, index| %>
					<tr>
						<td> <%= index + 1 %> </td>
						<td> <%= link_to session.name, course_session_path(session) %> </td>
						<td> <%= session.current_term.title %> </td>
						<td> <%= session.start_date.to_formatted_s(:rfc822) %> </td>
						<td> <%= session.end_date.to_formatted_s(:rfc822) %> </td>
						<td> <%= link_to "Edit", edit_course_session_path(session) %> </td>
						<td> 
							<% session.class_groups.each do |group| %>
								<%= link_to group do %>
									<span class="primary-label"><%= group.name %></span>
								<% end %>
							<% end %>
							<%= link_to new_course_session_class_group_path(session)  do %>
								<span class="success-label">+</span>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>

			<div class="panel-heading">Terms</div>

			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
					<dl class="dl-horizontal">
						<% @course.academic_terms.each do |term| %>
							<dt><%= link_to term.title, term %></dt>
							<dd><%= raw term.course_subjects.collect { |subject| link_to subject.title, subject }.join(", ") %></dd>
						<% end %>
					</dl>
					</div>
				</div>
			</div>

			<div class="panel-footer">
				<% if policy(CourseSession).new? %>
					<%= link_to '[+ Session]', new_course_course_session_path(@course) %>
				<% end %>
				<%= link_to '[+ Term]', new_course_academic_term_path(@course) %>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Last Session - Summary</h3>
			</div>

			<div class="panel-body">
				Some help text
			</div>
		</div>
	</div>
</div>
