<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Family Information</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<%= f.text_field :name, placeholder: "Family Name", required: true, control_col: "col-sm-12", hide_label: true %>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<%= f.fields_for :parents do |pf| %>
					<div  id="parent-<%= pf.index %>">
					<div class="row">
						<div class="col-sm-12">
							<div class=" well well-sm">
								Parent <%= pf.index + 1 %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<%= pf.text_field :occupation, placeholder: "Occupation", required: true, control_col: "col-sm-12", hide_label: true %>
						</div>
						<div class="col-sm-6">
						<%= pf.select :relation, [["Father", "father"], ["Mother", "mother"], ["Guardian", "guardian"]], hide_label: true, control_col:"col-sm-12", prompt: "Select Relation", required: true %>
						</div>
					</div>

					<%= pf.fields_for :personal_profile do |p| %>
						<%= render "profile", f: p %>
					<% end %>

					<%= pf.hidden_field :institute_id %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>