<div class="row">
	<div class="col-sm-4">
		<%= f.text_field :first_name, placeholder: 'First Name', required: true, control_col: "col-sm-12", hide_label: true %>
	</div>
		
	<div class="col-sm-4">
		<%= f.text_field :middle_name, placeholder: 'Middle Name', control_col: "col-sm-12", hide_label: true %>
	</div>
		
	<div class="col-sm-4">
		<%= f.text_field :last_name, placeholder: 'Last Name', required: true, control_col: "col-sm-12", hide_label: true %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<%= f.date_field :date_of_birth, placeholder: 'Date of Birth', required: true, control_col: "col-sm-12", hide_label: true, icon: "calendar" %>
	</div>

	<div class="col-sm-6">
		<%= f.form_group :gender, label: { text: "Gender" } do %>
		  <%= f.radio_button :gender, "female", label: "Female", inline: true %>
		  <%= f.radio_button :gender, "male", label: "Male", inline: true %>
	<% end %>
	</div>
	<%= f.hidden_field :institute_id %>
</div>