<div class="row">
	<div class="col-sm-4">
		<%= f.input :first_name, placeholder: 'First Name' %>
	</div>
		
	<div class="col-sm-4">
		<%= f.input :middle_name, placeholder: 'Middle Name' %>
	</div>
		
	<div class="col-sm-4">
		<%= f.input :last_name, placeholder: 'Last Name' %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<%= f.input :date_of_birth, placeholder: 'Date of Birth', as: :string,input_html: { data: { provide: 'datepicker' }, value: format_date(f.object.date_of_birth) } %>
	</div>

	<div class="col-sm-4">
		<%= f.input :gender, collection: [["Male", "male"], ["Female", "female"]] %>
	</div>

	<%= yield %>

	<%= f.hidden_field :institute_id %>
</div>