<div class="panel panel-default" id="student-info">
	<div class="panel-heading">
		<h3 class="panel-title">Student Information</h3>
	</div>
	<div class="panel-body">
		<%= f.fields_for :students do |sf| %>
			<%= sf.fields_for :personal_profile do |p| %>
				<%= render layout: "profile", locals: { f: p } do %>
					<div class="col-sm-4">
						<%= sf.text_field :date_of_admission, placeholder: "Date of Admission", hide_label: true, control_col: "col-sm-12", label_col: "", icon: "calendar", data: { provide: 'datepicker' } %>
					</div>
				<% end %>
				<%= sf.hidden_field :institute_id %>
			<% end %>
		<% end %>
	</div>
</div>