<%= content_for(:breadcrumb) do %>
	<ol class="breadcrumb">
	  <li> <%= link_to 'Dashboard', dashboards_path %> </li>
	  <li class="active">Admissions</li>
	</ol>
<% end %>

<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
		  <div class="panel-heading">Admissions are open</div>

			<table class="table table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Course Name</th>
						<th>Abbreviation</th>
						<th>Session</th>
						<th>Admit</th>
					</tr>
				</thead>

				<tbody>

				<% @course_sessions.each_with_index do |session, index| %>
					<tr>
						<td> <%= index +1 %> </td>
						<td> <%= session.course.name %> </td>
						<td> <%= session.course.abbreviation %> </td>
						<td> <%= session.name %> </td>
						<td> <%= link_to 'New Admission', new_admission_path(id: session.id) %> </td>
					</tr>
				<% end %>

				</tbody>
			</table>

			<div class="panel-footer">
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Recent Admissions</h3>
			</div>

			<div class="panel-body">
				Some help text
			</div>
		  <ul class="list-group">
		    <li class="list-group-item">Cras justo odio</li>
		    <li class="list-group-item">Dapibus ac facilisis in</li>
		    <li class="list-group-item">Morbi leo risus</li>
		    <li class="list-group-item">Porta ac consectetur ac</li>
		    <li class="list-group-item">Vestibulum at eros</li>
		  </ul>
		</div>
	</div>
</div>
