<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-body" id="sign-up-form">
				<%= simple_form_for(@institute, url: accounts_path) do |f| %>
					<%= f.input :name, placeholder: 'Institute Name', required: true, label: false %>
					<%= f.input :abbreviation, placeholder: 'Name Abbreviation', required: true, label: false %>
					<%= f.input :subdomain, placeholder: 'Subdomain', required: true, label: false %>
					<%= f.input :phone, placeholder: 'Phone Number', required: true, label: false %>
					<%= f.simple_fields_for :users do |uf| %>
						<%= uf.input :email, placeholder: 'Email Address', required: true, label: false %>
						<%= uf.input :password, placeholder: 'Password', required: true, label: false %>
						<%= uf.input :password_confirmation, label: false, placeholder: 'Confirmation Password', required: true %>
					<% end %>
					<%= f.button :submit, "Create Account", class: "btn btn-lg btn-block btn-success" %>
				<% end %>
			</div>
		</div>
	</div>
</div>